# shellcheck shell=bash

export root_dev="sda3"
export install_mode="migration" # migration or new
export install_disk=""
export install_disk_identity=""
export disk_size_mib="0"
export esp_size_mib="1024"
export root_size_strategy="all" # all or percent
export root_size_percent="70"
export root_size_mib="0"
export install_windows="no"
export windows_size_mib="65536"
export efi_dev="sda2"
export boot_dev=""
export mp="/mnt/root"
export rescue_dev="sda1"
export install_rescue="yes"
export keyslot_size="32m"
export iter_time="3000"
export enlarge=no
export swap_size="4G"
export btrfs_options="defaults,ssd,discard=async,noatime,space_cache=v2,compress=zstd:1" #lsm=landlock,lockdown,yama,integrity,apparmor,bpf audit=1 audit_backlog_limit=256
export suite="resolute"
export suite_type="ubuntu" # ubuntu or kali; Kali forces install_rescue=no
export secure_boot_mode="unknown"
export secure_boot_enrollment="sbctl"
export EXPERIMENTAL_SBCTL_APPEND="false"
export PASSPHRASE="password"
export TARGET_USERNAME="ubuntu" # used only by new installation
export TARGET_USER_PASSWORD="password" # used only by new installation
export target_hostname="linux"
export target_locale="en_US.UTF-8"
export target_timezone="Europe/Rome"
export keyboard_layout="it"
export keyboard_variant=""
export pre_download="yes"
export root_sub_vol="@$suite"
export enable_tpm="yes"
export snapshot_menu="yes"
export snapshot_menu_pin="yes"
export snapshot_menu_pin_value="123456"
export mok_pin=""
