[Unit]
Description=Acquire snapshot-menu keyboard before Plymouth
DefaultDependencies=no
After=systemd-udevd.service
Before=plymouth-start.service

[Service]
Type=forking
PIDFile=/run/snapshot-key-listener.pid
ExecStart=/usr/libexec/snapshot-key-listener-start
TimeoutStartSec=3
